<div *ngIf="hero"> <!-- *ngIf directive means the div element is only rendered when the property (hero) is not undefined -->
  <h2>{{ hero.name | uppercase }} Details</h2> <!-- interpolation binding using uppercase pipe -->
  <div><span>id: </span>{{ hero.id }}</div> <!-- more interpolation binding -->
  <div>
    <label for="name">Hero name: </label>
    <input id="name" [(ngModel)]="hero.name" placeholder="name"> <!-- ngModel allows two way data binding, this goes all the way back to HeroComponent, and changes the value in the array creating the list -->
  </div>
</div>
